[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
selenium = "*"
pandas = "*"
deprecation = "*"
pyperclip = "*"
ratelimiter = "*"
urlpath = "*"
beautifulsoup4 = "*"
validators = "*"
openpyxl = "*"
plotly = "*"
psutil = "*"

[dev-packages]

[requires]
python_version = "3.8"
